@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Bienvenido a Limbo, gracias por confirmar tu correo electrónico. Ahora podes iniciar sesión!
    </p>
</div>


